body {
    background-color: black;
    margin: 0;
    padding: 0;
}
#main-wrapper {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    position: relative;
}
#box {
    width: 50px;
    height: 50px;
    background-color: thistle;
    position: sticky;
    left: -50px;
    top: 0px;
}

p {
    position: relative;
}
#p-child {
    position: absolute;
    background-color: thistle;
    height: 25px;
    width: 4px;
    left: 4px;
}
